<section class="featured">
	<div class="container"> 
		<div class="row mar-bot40">
			<div class="col-md-6 col-md-offset-3">
				
				<div class="align-center">
					<h2 class="slogan">Welcome to PeerMD</h2>
					<p>
					Lorem ipsum dolor sit amet, natum bonorum expetendis usu ut. 
					Eum impetus offendit disputationi eu, at vim aliquip lucilius praesent. 
					Alia laudem antiopam te ius, sed ad munere integre, ubique facete sapientem nam ut. 
		
					</p>	
				</div>
			</div>
		</div>
	</div>
</section>

<section id="section-content" class="section pad-bot30 bg-white">
	<div class="container">

		<div class="row mar-bot40">
			<div class="col-lg-4" >
				<div class="align-center well">
					<h4 class="text-bold">Leech</h4>
					<p>Stop feeding me now. Let me starve slowly. Please don't step on me now. Let me die gently.</p>
				</div>
			</div>
				
			<div class="col-lg-4" >
				<div class="align-center well">
					<h4 class="text-bold">Forever</h4>
					<p>I wonder how it feels like to die all alone, watching the time as it ticks in your bone.
					</p>
				</div>
			</div>

			<div class="col-lg-4" >
				<div class="align-center well">
					<h4 class="text-bold">Carino Brutal</h4>
					<p>Inukit mo ang dusa't pasakit, kung ako sa'yo wag na wag kang lalapit.</p>
				</div>
			</div>
		</div>	

	</div>
</section>