<h1>StaticPages#home</h1>
<div class="container">
	<div class="row">

	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<div class="well">
				<h3>Leech</h3>
				<p>Stop feeding me now. Let me starve slowly. Please don't step on me now. Let me die gently.</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="well">
				<h3>Forever</h3>
				<p>I wonder how it feels like to die all alone, watching the time as it ticks in your bone.</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="well">
				<h3>Carino Brutal</h3>
				<p>Inukit mo ang dusa't pasakit, kung ako sa'yo wag na wag kang lalapit.</p>
			</div>
		</div>
	</div>
</div>
