<section id="section-contact" class="section appear clearfix">
	<div class="container">
		<div class="row mar-bot40">
			<h1>Editing Member</h1>
			<%= render 'form' %>
			<%= link_to 'Show', @member %> |
			<%= link_to 'Back', members_path %>
		</div>
	</div>
</section>
