<section class="section appear clearfix">
	<div class="container">
		<div class="row mar-bot40">
			
			<h1>New Recruit for <%= @recruiter.name %></h1>

			<%= render 'form' %>

			<%= link_to 'Back', members_path %>

		</div>
	</div>
</section>


